.square {
  background: #fff;
  color: #213547;
  border: 1px solid #1a1a1a;
  float: left;
  border-radius: 0;
  font-size: 3rem;
  font-weight: bold;
  line-height: 5rem;
  width: 5rem;
  height: 5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:hover {
  background: #f9f9f9;
  border-color: #1a1a1a;
}

.square:focus,
.square:focus-visible {
  outline: none;
}

.square.highlight {
  background: #61dafbaa;
  color: #646cffaa;
  border: none;
  animation: heartbeat 1s ease infinite;
  animation-iteration-count: 3;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
